<%- include('partials/header.ejs',{tab:'dashboard'}) %>

    <style>
        .table-sm {
            font-size: 14px;
            /* Decrease font size */
        }

        .table-sm th,
        .table-sm td {
            padding: 0.25rem;
            /* Decrease cell padding */
        }

        .table-sm img {
            max-width: 50px;
            /* Decrease image width */
            max-height: 50px;
            /* Decrease image height */
        }
    </style>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Dashboard </h2>
                <p>Whole data about your business here</p>
            </div>


        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-primary-light"><i
                                class="text-primary material-icons md-monetization_on"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Revenue</h6>
                            <span> <strong>₹
                                </strong>
                                <% if (locals.deliveredRevenue) { %>

                                    <%= deliveredRevenue %>
                                        <% } %>
                            </span>
                            <span class="text-sm">
                                Shipping fees are not included
                            </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-success-light"><i
                                class="text-success material-icons md-local_shipping"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Orders Delivered</h6> <span>
                                <% if (locals.deliveredOrderCount) { %>

                                    <%= deliveredOrderCount %>
                                        <% } %>
                            </span>

                            <span class="text-sm"> Pending Orders <strong>
                                    <% if (locals.PendingOrderCount) { %>

                                        <%= PendingOrderCount %>
                                            <% } %>
                                </strong></span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-warning-light"><i
                                class="text-warning material-icons md-qr_code"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Products</h6> <span>
                                <% if (locals.productCount) { %>

                                    <%= productCount %>
                                        <% } %>
                            </span>
                            <span class="text-sm">
                                <% if (locals.categoryCount) { %>

                                    In <%= categoryCount %> Categories
                                        <% } %>
                            </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-info-light"><i
                                class="text-info material-icons md-shopping_basket"></i></span>
                        <div class="text">
                            <% if (locals.monthlyEarnings) { %>


                                <% monthlyEarnings.forEach(element=> { %>


                                    <h6 class="mb-1 card-title">Monthly Earning</h6> <span>₹<%= element.totalEarnings %>

                                    </span>
                                    <span class="text-sm">
                                        Month- <%= element.month %>, Year - <%= element.year %>
                                    </span>
                                    <% }) %>
                                        <% } %>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <label for="timeRange">Select Time Range:</label>
        <select id="timeRange">
            <option value="yearly">Yearly</option>
            <option value="monthly">Monthly</option>

        </select>

        <!-- <label for="yearSelection" class="yearLog" style="display: none;">Select Year:</label>
        <select id="yearSelection" style="display: none;">
        </select> -->

        <div class="row">
            <div class="col-xl-8 col-lg-12">
                <div class="card mb-4">
                    <article class="card-body">
                        <h5 class="card-title">Sale statistics</h5>
                        <canvas id="chart" style="width:100%;max-width:700px; height: 200px;"></canvas>
                    </article>
                </div>

            </div>


            <div style="text-align: center; margin-left: 10%;">
                <h3
                    style="margin-bottom: 20px; color: rgb(238, 243, 243);background-color: rgb(178, 103, 113); width: 75%; font-weight: bold;">
                    Best Selling Brand</h3>
            </div>

            <div class="card-body" style="margin-bottom: 20px;">
                <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-8 row-cols-xxl-5"
                    style="text-align: center;">
                    <% if (locals.bestSellingBrand) { %>
                        <% bestSellingBrand.forEach(brand=> { %>
                            <div class="col">
                                <div class="card card-product-grid">

                                    <div style="background-color:darkcyan;" class="info-wrap">

                                        <h4 style="color: black;">
                                            <%= brand._id %>
                                        </h4>
                                        <small style="color: black;"> Total Quantity: <%= brand.totalQuantity %></small>



                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <p>no best selling category</p>
                                    <% } %>
                </div>
            </div>

            <!-- best selling product -->
            <div style="text-align: center; margin-left: 10%;">
                <h3
                    style="margin-bottom: 20px; color: rgb(238, 243, 243);background-color: rgb(162, 209, 153); width: 75%; font-weight: bold;">
                    Best Selling Product</h3>
            </div>

            <div class="card-body" style="margin-bottom: 20px;"> <!-- Added margin-bottom -->
                <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5">
                    <% if (locals.populatedProducts) { %>
                        <% populatedProducts.forEach(element=> { %>
                            <div class="col">
                                <div class="card card-product-grid">
                                    <a href="" class="img-wrap">



                                        <img src="/images/<%= element.image %>" alt="Product"
                                            style="width: 100%; height: 200px; object-fit: cover;">

                                    </a>
                                    <div class="info-wrap">
                                        <a href="" class="title text-truncate">
                                            <%= element.title %>
                                        </a>
                                        <div class="" style="width:90%; color: #f49507; font-size: 16px;">
                                            <% function generateStarRating(starLength) { %>
                                                <%= new Array(5).fill(null).map((star, i)=> star = i >= starLength ? '☆'
                                                    :
                                                    '★').join('') %>
                                                    <% } %>
                                                        <%= generateStarRating(element.rating) %>

                                        </div>
                                        <div class="price mt-1 d-flex">
                                            ₹<%= element.Price %>.00
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <span
                                                    style="color: rgb(255, 0, 0); font-size: 13px; text-decoration: line-through;">
                                                    ₹<%= element.offerPrice %>.00
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <% } %>
                </div>
            </div>
            <h1></h1>

            <!-- best selling category -->
            <div style="text-align: center; margin-left: 10%;">
                <h3
                    style="margin-bottom: 20px; color: rgb(238, 243, 243);background-color: rgb(186, 207, 114); width: 75%; font-weight: bold;">
                    Best Selling Category</h3>
            </div>

            <div class="card-body" style="margin-bottom: 20px;"> <!-- Added margin-bottom -->
                <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-8 row-cols-xxl-5"
                    style="text-align: center;">
                    <% if (locals.bestSellingCategories) { %>
                        <% bestSellingCategories.forEach(category=> { %>
                            <div class="col">
                                <div class="card card-product-grid">

                                    <div style="background-color:darkcyan;" class="info-wrap">

                                        <h4 style="color: black;">
                                            <%= category.categoryDetails[0].name %>
                                        </h4>
                                        <small style="color: black;"> Total Quantity: <%= category.totalQuantity %>
                                        </small>



                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <p>no best selling category</p>
                                    <% } %>
                </div>
            </div>


            <!-- <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example"><a href="#" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create report</a>
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div> -->
    </section> <!-- content-main end// -->
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear())
                </script> ©, Evara - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">
                    All rights reserved
                </div>
            </div>
        </div>
    </footer>
    </main>
    <script src="/asset/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/asset/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/asset/js/vendors/select2.min.js"></script>
    <script src="/asset/js/vendors/perfect-scrollbar.js"></script>
    <script src="/asset/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/asset/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="/asset/js/main.js" type="text/javascript"></script>
    <script src="/asset/js/custom-chart.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    </body>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            yearChartFetch()
        })

        const timeRangeSelect = document.getElementById('timeRange');
        timeRangeSelect.addEventListener('change', handleTimeRangeChange);

        function handleTimeRangeChange() {
            const selectedValue = timeRangeSelect.value;

            if (selectedValue === 'yearly') {
                // document.getElementById('yearSelection').style.display = 'none';
                yearChartFetch();
            } else if (selectedValue === 'monthly') {
                // document.getElementById('yearSelection').style.display = 'block';
                fetchMonthlyProductData(); // Assuming this fetches data for the monthly chart
                // Call the function to generate the monthly chart
                // generateMonthlyChart(); // Pass the appropriate data to this function
            }
        }

        function yearChartFetch() {
            fetch('/admin/yearChart', {
                method: 'get',
                headers: {
                    'Contetn-Type': 'application/json'
                }
            }).then(response => {
                return response.json()
            }).then((res) => {
                console.log(res.productCount)
                yearlyChart(res.productCount)
            })
        }

        function yearlyChart(data) {
            const years = Object.keys(data);
            const counts = Object.values(data);

            const ctxBar = document.getElementById('chart').getContext('2d');
            const dataBar = {
                labels: years,
                datasets: [
                    {
                        label: 'Orders',
                        data: counts,
                        backgroundColor: '#3399ff',
                    },
                ],
            };
            const configBar = {
                type: 'bar',
                data: dataBar,
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Orders per Year',
                            font: {
                                size: 18,
                                family: 'Arial',
                            },
                        },
                    },
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                },
            };

            const existingChart = window.myMonthlyChart;
            console.log("Is exist  : ", existingChart)
            if (existingChart) {
                existingChart.destroy();
            }

            window.myYearlyChart = new Chart(ctxBar, configBar);
            console.log("yearly chart  : ", myYearlyChart)
        }




        async function fetchMonthlyProductData() {
            try {
                const year = '2024';
                const response = await fetch(`/admin/monthlyChart?year=${year}`);
                const data = await response.json();
                console.log(data.monthlyOrderCounts);
                generateMonthlyChart(data.monthlyOrderCounts);
            } catch (error) {
                console.error('Error:', error);
            }
        }

        async function generateMonthlyChart(data) {
            try {
                console.log('Data : ', data)
                const months = Object.keys(data);
                const counts = Object.values(data);

                const ctxBar = document.getElementById('chart').getContext('2d');
                const dataBar = {
                    labels: months,
                    datasets: [{
                        label: 'Orders',
                        data: counts,
                        backgroundColor: 'rgba(66,133,244,0.6)',
                    }],
                };

                const configBar = {
                    type: 'bar',
                    data: dataBar,
                    options: {
                        plugins: {
                            title: {
                                display: true,
                                text: 'Orders per Month',
                                font: {
                                    size: 18,
                                    family: 'Arial',
                                },
                            },
                        },
                        scales: {
                            y: {
                                beginAtZero: true,
                            },
                        },
                    },
                };

                const existingChart = window.myYearlyChart;
                if (existingChart) {
                    existingChart.destroy();
                }

                window.myMonthlyChart = new Chart(ctxBar, configBar);
            } catch (error) {
                console.error('Error:', error);
            }
        }

    </script>



    </html>