<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>ShoeStrut</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/main.css?v=3.4">
</head>

<body>
    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+91) 8086136588</a></li>
                                <!-- <li><i class="fi-rs-marker"></i><a  href="">Our location</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li> <a href="shop-grid-right.html"> ShoeStruct</a></li>

                                    <li><a href="/product/shop"> Poppular Brands PUMA NIKE ADIDAS GUCCI</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/home">
                            <h3>ShoeStrut</h3>
                        </a>
                    </div>
                    <div class="header-right">
                        <!-- <div class="search-style-2">
                            <form action="#">
                                <select class="select-active">
                                    <option>All Categories</option>
                                    <option>Women's</option>
                                    <option>Men's</option>
                                    <option>Cellphones</option>
                                    <option>Computer</option>
                                    <option>Electronics</option>
                                    <option> Accessories</option>
                                    <option>Home & Garden</option>
                                    <option>Luggage</option>
                                    <option>Shoes</option>
                                    <option>Mother & Kids</option>
                                </select>
                                <input type="text" placeholder="Search for items...">
                            </form>
                        </div> -->


                        <div class="header-action-right" style="margin-left: 750px;">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/product/wishlist/">
                                        <img class="svgInject" alt="Evara"
                                            src="/assets/imgs/theme/icons/icon-heart.svg">

                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/product/cart">
                                        <img alt="Evara" src="/assets/imgs/theme/icons/icon-cart.svg">

                                    </a>

                                </div>

                                <div class="header-action-icon-2">
                                    <a href="/profile"> <i class="fi-rs-user" style="font-size: 20px;"></i></a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a href="/logout">
                                        <h5 class="text-danger">Logout</h5>
                                    </a>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="/assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex" style="margin-left: 250px;">

                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/home">Home <i></i></a></li>

                                    <li><a href="/product/shop">Shop <i></i></a></li>

                                    <li><a href="/profile">Profile <i></i></a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- <div class="hotline d-none d-lg-block">
                        <p><i class="fi-rs-headset"></i><span>Hotline</span> 1900 - 888 </p>
                    </div> -->
                    <!-- <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</p> -->
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.html">
                                    <img alt="Evara" src="/assets/imgs/theme/icons/icon-heart.svg">
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="shop-cart.html">
                                    <img alt="Evara" src="/assets/imgs/theme/icons/icon-cart.svg">
                                    <span class="pro-count white">2</span>
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara"
                                                        src="/assets/imgs/shop/thumbnail-3.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                                <h3><span>1 × </span>$800.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara"
                                                        src="/assets/imgs/shop/thumbnail-4.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Macbook Pro 2022</a></h4>
                                                <h3><span>1 × </span>$3500.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$383.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="shop-cart.html">View cart</a>
                                            <a href="shop-checkout.html">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <body>



        <div class="col-lg-6  " style="margin-left: 400px;  margin-bottom: 30px;">

            <div class="mb-25 " style="margin-top: 40px; margin-left: 300px; ">
                <h4>Edit address</h4>
            </div>
            <form action="/addressEdit/<%= address.id %>" method="post" onsubmit="return validateForm()">
                <div class="form-group">
                    <input type="text" name="name" id="name" value="<%= address.name %>" placeholder="First name *">
                    <span id="nameError" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="tel" name="phone" id="phone" value="<%= address.phone %>"
                        placeholder="10 digit mobile number *">
                    <span id="phoneError" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" name="pincode" id="pincode" value="<%= address.pincode %>" placeholder="Pincode">
                    <span id="pincodeError" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <select name="addressType" class="form-control" id="addressType">
                        <option value="work">work</option>
                        <option value="home">home</option>
                        <option value="temp">temp</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" name="address" id="address" value="<%= address.address %>"
                        placeholder="Address (Area and Street) *">
                    <span id="addressError" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" name="state" id="state" value="<%= address.state %>" placeholder="State">
                    <span id="stateError" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" name="city" id="city" value="<%= address.city %>"
                        placeholder="City / District / Town *">
                    <span id="cityError" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" name="landmark" id="landmark" value="<%= address.landmark %>"
                        placeholder="Landmark *">
                    <span id="landmarkError" class="text-danger"></span>
                </div>

                <button class="button" id="button" type="submit">Save Address</button>
            </form>

        </div>
    </body>




    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">

        </section>
        <section class="section-padding footer-mid " style="margin-right: 50px;">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html">
                                    <h3>ShoeStrut</h3>
                                </a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong> MG Road, Street 32, Ernakulam
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>(+91) 8086136588
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>24 x 7
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">

                                <a href="https://x.com/manikandanvfc11?t=hBoj9BGy8wVjC3sjPcsOSw&s=09"><img
                                        src="/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="https://www.instagram.com/m_a_k_i_n_?igsh=cTFxcGx3dDhydnlo"><img
                                        src="/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="https://youtube.com/@FitlifeFusion5890?si=DYKz5LtTBiplO4ZF"><img
                                        src="/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="/signup">Sign In</a></li>
                            <li><a href="/product/cart">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="/profile?tab=orders">Order</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>

    </footer>

    <!-- Vendor JS-->
    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/plugins/slick.js"></script>
    <script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/assets/js/plugins/wow.js"></script>
    <script src="/assets/js/plugins/jquery-ui.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/assets/js/plugins/magnific-popup.js"></script>
    <script src="/assets/js/plugins/select2.min.js"></script>
    <script src="/assets/js/plugins/waypoints.js"></script>
    <script src="/assets/js/plugins/counterup.js"></script>
    <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/assets/js/plugins/images-loaded.js"></script>
    <script src="/assets/js/plugins/isotope.js"></script>
    <script src="/assets/js/plugins/scrollup.js"></script>
    <script src="/assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/assets/js/main.js?v=3.4"></script>
    <script src="/assets/js/shop.js?v=3.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>

</html>


<script>
    function validateForm() {
        const name = document.getElementById('name').value.trim();
        const phone = document.getElementById('phone').value.trim();
        const pincode = document.getElementById('pincode').value.trim();
        const address = document.getElementById('address').value.trim();
        const state = document.getElementById('state').value.trim();
        const city = document.getElementById('city').value.trim();
        const landmark = document.getElementById('landmark').value.trim();
        const alternatePhone = document.getElementById('alternatePhone').value.trim();
        const addressType = document.getElementById('addressType').value;

        let isValid = true;

        // Validate name
        if (name === '') {
            document.getElementById('nameError').innerText = 'Name is required';
            isValid = false;
        } else if (/\d/.test(name)) {
            document.getElementById('nameError').innerText = 'Name cannot contain numbers';
            isValid = false;
        } else {
            document.getElementById('nameError').innerText = '';
        }


        if (phone === '' || !(/^\d{10}$/).test(phone)) {
            document.getElementById('phoneError').innerText = 'Enter a valid 10-digit phone number';
            isValid = false;
        } else {
            document.getElementById('phoneError').innerText = '';
        }


        if (pincode === '') {
            document.getElementById('pincodeError').innerText = 'Pincode is required';
            isValid = false;
        } else if (!(/^\d{6}$/).test(pincode)) {
            document.getElementById('pincodeError').innerText = 'Enter a valid 6-digit pincode';
            isValid = false;
        } else {
            document.getElementById('pincodeError').innerText = '';
        }


        if (address === '') {
            document.getElementById('addressError').innerText = 'Address is required';
            isValid = false;
        } else {
            document.getElementById('addressError').innerText = '';
        }


        if (state === '') {
            document.getElementById('stateError').innerText = 'State is required';
            isValid = false;
        } else if (/\d/.test(state)) { // Check if state contains numbers
            document.getElementById('stateError').innerText = 'State cannot contain numbers';
            isValid = false;
        } else {
            document.getElementById('stateError').innerText = '';
        }


        if (city === '') {
            document.getElementById('cityError').innerText = 'City/District/Town is required';
            isValid = false;
        } else if (/\d/.test(city)) {
            document.getElementById('cityError').innerText = 'City/District/Town cannot contain numbers';
            isValid = false;
        } else {
            document.getElementById('cityError').innerText = '';
        }


        if (landmark === '') {
            document.getElementById('landmarkError').innerText = 'Landmark is required';
            isValid = false;
        } else {
            document.getElementById('landmarkError').innerText = '';
        }


        if (alternatePhone === '' || !(/^\d{10}$/).test(alternatePhone)) {
            document.getElementById('alternatePhoneError').innerText = 'Enter a valid 10-digit alternate phone number';
            isValid = false;
        } else {
            document.getElementById('alternatePhoneError').innerText = '';
        }

        return isValid;
    }

</script>