<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ShoeStrut</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/asset/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/asset/css/main.css" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/main.css?v=3.4">



    <!-- rating -->

   
</head>

<body>
    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+91) 8086136588</a></li>
                                <!-- <li><i class="fi-rs-marker"></i><a  href="">Our location</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li> <a href="shop-grid-right.html"> ShoeStruct</a></li>

                                    <li><a href="/product/shop"> Poppular Brands PUMA NIKE ADIDAS GUCCI</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/home">
                            <h3>ShoeStrut</h3>
                        </a>
                    </div>
                    <div class="header-right">
                        <!-- <div class="search-style-2">
                            <form action="#">
                                <select class="select-active">
                                    <option>All Categories</option>
                                    <option>Women's</option>
                                    <option>Men's</option>
                                    <option>Cellphones</option>
                                    <option>Computer</option>
                                    <option>Electronics</option>
                                    <option> Accessories</option>
                                    <option>Home & Garden</option>
                                    <option>Luggage</option>
                                    <option>Shoes</option>
                                    <option>Mother & Kids</option>
                                </select>
                                <input type="text" placeholder="Search for items...">
                            </form>
                        </div> -->


                        <div class="header-action-right" style="margin-left: 750px;">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="shop-wishlist.html">
                                        <img class="svgInject" alt="Evara"
                                            src="/assets/imgs/theme/icons/icon-heart.svg">

                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/product/cart">
                                        <img alt="Evara" src="/assets/imgs/theme/icons/icon-cart.svg">

                                    </a>

                                </div>

                                <div class="header-action-icon-2">
                                    <a href="/profile"> <i class="fi-rs-user" style="font-size: 20px;"></i></a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a href="/logout">
                                        <h5 class="text-danger">Logout</h5>
                                    </a>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="/assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex" style="margin-left: 250px;">

                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/home">Home <i></i></a></li>

                                    <li><a href="/product/shop">Shop <i></i></a></li>

                                    <li><a href="/profile">Profile <i></i></a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- <div class="hotline d-none d-lg-block">
                        <p><i class="fi-rs-headset"></i><span>Hotline</span> 1900 - 888 </p>
                    </div> -->
                    <!-- <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</p> -->
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.html">
                                    <img alt="Evara" src="/assets/imgs/theme/icons/icon-heart.svg">
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="shop-cart.html">
                                    <img alt="Evara" src="/assets/imgs/theme/icons/icon-cart.svg">
                                    <span class="pro-count white">2</span>
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara"
                                                        src="/assets/imgs/shop/thumbnail-3.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                                <h3><span>1 × </span>$800.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara"
                                                        src="/assets/imgs/shop/thumbnail-4.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Macbook Pro 2022</a></h4>
                                                <h3><span>1 × </span>$3500.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$383.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="shop-cart.html">View cart</a>
                                            <a href="shop-checkout.html">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <section class="content-main">
        <div class="content-header">
            <div style="margin-left: 490px;">
                <h2 class="content-title card-title">Order detail</h2>

            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                        <span>
                            <i class="material-icons md-calendar_today"></i> <b>
                                <%= order.orderDate.toLocaleString() %>
                            </b>
                        </span> <br>
                        <small class="text-muted">Order ID:<%= order._id%></small>
                    </div>
                    <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                        <!-- <select class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                                <option>Change status</option>
                                <option>Awaiting payment</option>
                                <option>Confirmed</option>
                                <option>Shipped</option> 
                                <option>Delivered</option>        
                            </select> -->
                        <% if (order.status=='Canceled' ) { %>
                            <p>Order is Canceled</p>
                            <% } else { %>


                                <button class="btn btn-danger" onclick="CancelButton('<%= order._id %>')"
                                    id="cancelButton">Cancel</button>
                                <% } %>
                                    <a class="btn btn-secondary print ms-2" href="#"><i
                                            class="icon material-icons md-print"></i></a>
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <p class="mb-1">
                                    <%= userData.username %><br>
                                        <%= userData.Email %> <br> +<%= userData.phoneNumber %>
                                </p>
                                <a href="/profile">View profile</a>
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-local_shipping"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Order info</h6>
                                <p class="mb-1">
                                    Shipping: Fargo express <br> Pay method: Cash On Delivery <br> Status: <%=
                                        order.status %>
                                </p>
                                <a href="#">Download info</a>
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-place"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Deliver to</h6>
                                <p class="mb-1">
                                    City: <%= order.deliveryAddress.city %> <br>
                                        <%= order.deliveryAddress.pincode %> <br> Po Box 10000
                                </p>
                                <a href="#">View profile</a>
                            </div>
                        </article>   
                    </div> <!-- col// -->
                </div> <!-- row // -->
                <div class="row">
                    <div class="col-lg-7">
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Product</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (order.items && order.items.length> 0) { %>
                                            <% order.items.forEach(item=> { %>
                                                <tr>
                                                    <td>
                                                        <a class="itemside" href="#">
                                                            <div class="left">
                                                                <img src="<%= item.image %>" width="40" height="40"
                                                                    class="img-xs" alt="Item">
                                                            </div>
                                                            <div class="info">
                                                                <%= item.productId.title %>
                                                            </div>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <%= item.productId.Price %>
                                                    </td>
                                                    <td>
                                                        <%= item.quantity %>
                                                    </td> 
                                                    <td class="text-end">
                                                        <%= item.price * item.quantity %>
                                                    </td> 
                                                </tr>
                                                <% }) %>
                                                    <% } else { %>
                                                        <tr>
                                                            <td colspan="4">No items found in this order.</td>
                                                        </tr>
                                                        <% } %>

                                                            <tr>
                                                                <td colspan="4">
                                                                    <article class="float-end">
                                                                        <dl class="dlist">
                                                                            <dt>Subtotal:</dt>
                                                                            <dd>
                                                                                <%= order.billTotal %>
                                                                            </dd>
                                                                        </dl>
                                                                        <dl class="dlist">
                                                                            <dt>Shipping cost:</dt>
                                                                            <dd>$00.00</dd>
                                                                        </dl>
                                                                        <dl class="dlist">
                                                                            <dt>Grand total:</dt>
                                                                            <dd> <b class="h5">
                                                                                    <%= order.billTotal %>
                                                                                </b> </dd>
                                                                        </dl>
                                                                        <dl class="dlist">
                                                                            <dt class="text-muted">Status:</dt>
                                                                            <dd>
                                                                                <span
                                                                                    class="badge rounded-pill alert-success text-success">Payment
                                                                                    <%= order.status %></span>
                                                                            </dd>
                                                                        </dl>
                                                                    </article>
                                                                </td>
                                                            </tr>
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                            <a class="btn btn-primary" href="page-orders-tracking.html">View Order Tracking</a>
                        </div> <!-- col// -->

                    </div> <!-- col// -->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        <div class="box shadow-sm bg-light">
                            <h6 class="mb-15">Payment info</h6>
                            <p>
                                <img src="/asset/imgs/card-brands/2.png" class="border" height="20"> Master Card ****
                                **** 4768 <br>
                                Business name: Grand Market LLC <br>
                                Phone: +1 (800) 555-154-52
                            </p>
                        </div>
                        <div class="h-25 pt-4">
                            <div class="mb-3">
                                <label>Notes</label>
                                <textarea class="form-control" name="notes" id="notes"
                                    placeholder="Type some note"></textarea>
                            </div>
                            <button class="btn btn-primary">Save note</button>
                        </div>
                    </div> <!-- col// -->
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
    </section> <!-- content-main end// -->

    <section>
 
      
    </section>


    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">

        </section>
        <section class="section-padding footer-mid " style="margin-right: 50px;">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html">
                                    <h3>ShoeStrut</h3>
                                </a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong> MG Road, Street 32, Ernakulam
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>(+91) 8086136588
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>24 x 7
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">

                                <a href="https://x.com/manikandanvfc11?t=hBoj9BGy8wVjC3sjPcsOSw&s=09"><img
                                        src="/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="https://www.instagram.com/m_a_k_i_n_?igsh=cTFxcGx3dDhydnlo"><img
                                        src="/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="https://youtube.com/@FitlifeFusion5890?si=DYKz5LtTBiplO4ZF"><img
                                        src="/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="/signup">Sign In</a></li>
                            <li><a href="/product/cart">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="/profile?tab=orders">Order</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>

    

    <script src="/asset/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/asset/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/asset/js/vendors/select2.min.js"></script>
    <script src="/asset/js/vendors/perfect-scrollbar.js"></script>
    <script src="/asset/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/asset/js/main.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>

<script>

    
    


    function CancelButton(id) {
    Swal.fire({
        title: 'Are You Sure You Want to Cancel the Order?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel'
    }).then(async (result) => {
        if (result.isConfirmed) {
            Swal.fire({
                title: 'Reason for Cancelling',
                html: '<input id="cancelationReason" class="swal2-input" placeholder="Reason for cancellation">',
                icon: 'warning',
                confirmButtonText: 'Submit',
                preConfirm: () => {
                    const cancellationReason = document.getElementById('cancelationReason').value;
                    if (!cancellationReason) {
                        Swal.showValidationMessage('Cancellation reason cannot be empty');
                    } else if(!isNaN(cancellationReason)) {
                        Swal.showValidationMessage('Cancellation reason must be a string');
                    }
                    // Add more validation logic here if needed
                    return cancellationReason;
                }
            }).then(async (result) => {
                if (result.isConfirmed) {
                    const cancellationReason = result.value; // Retrieve cancellation reason entered by the user
                    try {
                        const response = await fetch('/orderCancel/' + id, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                reason: cancellationReason
                            })
                        });
                        const data = await response.json();
                        console.log(response);
                        if (data.success) {
                            Swal.fire('Success', data.message, 'success');
                            location.reload();
                        } else {
                            Swal.fire('Error', data.message, 'error');
                            console.error('Item not canceled');
                        }
                    } catch (error) {
                        Swal.fire('Error', 'Failed to cancel order', 'error');
                        console.log('Fetch Error:', error);
                    }
                }
            });
        } else {
            // Handle cancellation by the user
            console.log('Action canceled by the user');
        }
    });
}

</script>



</html