<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>ShoeStrut</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/main.css?v=3.4">
</head>

<body>
    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+91) 8086136588</a></li>
                                <!-- <li><i class="fi-rs-marker"></i><a  href="">Our location</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li> <a href="shop-grid-right.html"> ShoeStruct</a></li>

                                    <li><a href="/product/shop"> Poppular Brands PUMA NIKE ADIDAS GUCCI</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/home">
                            <h3>ShoeStrut</h3>
                        </a>
                    </div>
                    <div class="header-right">
                        <!-- <div class="search-style-2">
                            <form action="#">
                                <select class="select-active">
                                    <option>All Categories</option>
                                    <option>Women's</option>
                                    <option>Men's</option>
                                    <option>Cellphones</option>
                                    <option>Computer</option>
                                    <option>Electronics</option>
                                    <option> Accessories</option>
                                    <option>Home & Garden</option>
                                    <option>Luggage</option>
                                    <option>Shoes</option>
                                    <option>Mother & Kids</option>
                                </select>
                                <input type="text" placeholder="Search for items...">
                            </form>
                        </div> -->


                        <div class="header-action-right" style="margin-left: 750px;">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/product/wishlist/">
                                        <img class="svgInject" alt="Evara"
                                            src="/assets/imgs/theme/icons/icon-heart.svg">

                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/product/cart">
                                        <img alt="Evara" src="/assets/imgs/theme/icons/icon-cart.svg">

                                    </a>

                                </div>

                                <div class="header-action-icon-2">
                                    <a href="/profile"> <i class="fi-rs-user" style="font-size: 20px;"></i></a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a href="/logout">
                                        <h5 class="text-danger">Logout</h5>
                                    </a>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="/assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex" style="margin-left: 250px;">

                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/home">Home <i></i></a></li>

                                    <li><a href="/product/shop">Shop <i></i></a></li>

                                    <li><a href="/profile">Profile <i></i></a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- <div class="hotline d-none d-lg-block">
                        <p><i class="fi-rs-headset"></i><span>Hotline</span> 1900 - 888 </p>
                    </div> -->
                    <!-- <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</p> -->
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.html">
                                    <img alt="Evara" src="/assets/imgs/theme/icons/icon-heart.svg">
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="shop-cart.html">
                                    <img alt="Evara" src="/assets/imgs/theme/icons/icon-cart.svg">
                                    <span class="pro-count white">2</span>
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara"
                                                        src="/assets/imgs/shop/thumbnail-3.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                                <h3><span>1 × </span>$800.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara"
                                                        src="/assets/imgs/shop/thumbnail-4.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Macbook Pro 2022</a></h4>
                                                <h3><span>1 × </span>$3500.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$383.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="shop-cart.html">View cart</a>
                                            <a href="shop-checkout.html">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a>
                                </li>
                                <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer &
                                        Office</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer
                                        Electronics</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother &
                                        Kids</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="index.html">Home</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                    <li><a href="index-4.html">Home 4</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="shop-grid-right.html">shop</a>
                                <ul class="dropdown">
                                    <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                    <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                    <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                    <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                    <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Single Product</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                            <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                            <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-filter.html">Shop – Filter</a></li>
                                    <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                    <li><a href="shop-cart.html">Shop – Cart</a></li>
                                    <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                    <li><a href="shop-compare.html">Shop – Compare</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega
                                    menu</a>
                                <ul class="dropdown">
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Women's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Dresses</a></li>
                                            <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                            <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                            <li><a href="shop-product-right.html">Women's Sets</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Men's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Jackets</a></li>
                                            <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                            <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Technology</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                            <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                            <li><a href="shop-product-right.html">Tablets</a></li>
                                            <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                            <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="blog-category-fullwidth.html">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                    <li><a href="blog-category-list.html">Blog Category List</a></li>
                                    <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                    <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Single Product Layout</a>
                                        <ul class="dropdown">
                                            <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                            <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                            <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="page-about.html">About Us</a></li>
                                    <li><a href="page-contact.html">Contact</a></li>
                                    <li><a href="page-account.html">My Account</a></li>
                                    <li><a href="page-login-register.html">login/register</a></li>
                                    <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                    <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="page-terms.html">Terms of Service</a></li>
                                    <li><a href="page-404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                                <ul class="dropdown">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href="page-contact.html"> Our location </a>
                    </div>
                    <li>
                        <a class="language-dropdown-active"> <i class="fi-rs-user"></i> User <i
                                class="fi-rs-angle-small-down"></i></a>
                        <ul class="language-dropdown">
                            <li><a class="text-danger" href="/logout"><img alt="">Logout</a></li>
                            <li><a href="/profile"><img alt="">Profile</a></li>

                        </ul>
                    </li>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01)8086136588 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a style="padding-right: 10px;" href="/home" rel="nofollow"> Home </a>
                    <a style="padding-right: 10px;" href="/product/shop" rel="nofollow"> Shop </a>
                    <a style="padding-right: 10px;" href="/product/cart" rel="nofollow"> Cart </a>
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab"
                                                href="#profile" role="tab" aria-controls="profile"
                                                aria-selected="false"><i
                                                    class="fi-rs-settings-sliders mr-10"></i>Profile Information</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address"
                                                role="tab" aria-controls="address" aria-selected="true"><i
                                                    class="fi-rs-marker mr-10"></i>Manage Address</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders"
                                                role="tab" aria-controls="orders" aria-selected="false"><i
                                                    class="fi-rs-shopping-bag mr-10"></i> My Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab"
                                                href="#track-orders" role="tab" aria-controls="track-orders"
                                                aria-selected="false"><i
                                                    class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                                href="#account-detail" role="tab" aria-controls="account-detail"
                                                aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="wallet-tab-link" data-bs-toggle="tab"
                                                href="#wallet-content" role="tab" aria-controls="wallet-content"
                                                aria-selected="false">
                                                </i> Wallet</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout"><i
                                                    class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade active show" id="profile" role="tabpanel"
                                        aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header ">
                                                <h5 class="card-title  ">Personal Information</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="inputName">Name</label>
                                                    <input type="text" class="form-control"
                                                        value="<%= userData.username %>" id="inputName">
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputEmail">Email</label>
                                                    <input type="email" class="form-control"
                                                        value="<%= userData.Email %>" id="inputEmail">
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputAge">Phone</label>
                                                    <input type="number" class="form-control"
                                                        value="<%= userData.phoneNumber %>" id="inputPhone" readonly>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="address" role="tabpanel"
                                        aria-labelledby="address-tab">
                                        <div class="row">
                                            <% if (userAddress?.Address) { %>
                                                <% userAddress.Address.forEach(element=> { %>
                                                    <div class="col-lg-6">
                                                        <div class="card mb-3 mb-lg-0">
                                                            <div class="card-header">
                                                                <h5 class="mb-0">
                                                                    <%= element.type %>
                                                                </h5>
                                                            </div>
                                                            <div class="card-body">
                                                                <address>
                                                                    <%= element.name %><br>
                                                                        <%= element.phone %><br>
                                                                            <%= element.pincode %><br>
                                                                                <%= element.city %> <br>
                                                                                    <p>
                                                                                        <%= element.state %>
                                                                                    </p>
                                                                                    <%= element.type %><br>
                                                                                        <%= element.address %> <br>
                                                                                            <%= element.landmark %> <br>
                                                                                                <%= element.altermatePhone
                                                                                                    %>
                                                                </address>

                                                                <a href="/addressEdit/<%= element._id %>"
                                                                    class="btn-small">Edit</a>



                                                            </div>
                                                        </div>

                                                    </div>

                                                    <% }) %>
                                                        <div class="card mb-3 mb-lg-0" style="margin-top: 20px;">
                                                            <a href="/addAddressProfile"><button type="submit"
                                                                    class="btn btn-sm btn-outline-secondary float-right"
                                                                    style="width: 100%;">Add
                                                                    Address</button></a>
                                                        </div>
                                                        <% } else { %>
                                                            <h2 style="margin-left: 200px;">No User Address</h2>
                                                            <div class="card mb-3 mb-lg-0" style="margin-top: 20px;">
                                                                <a href="/addAddressProfile"><button type="submit"
                                                                        class="btn btn-sm btn-outline-secondary float-right"
                                                                        style="width: 100%;">Add
                                                                        Address</button></a>
                                                            </div>

                                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Your Orders</h5>
                                            </div>
                                            <% if (orderData) { %>
                                                <div class="card-body">

                                                    <div class="table-responsive">

                                                        <table class="table">

                                                            <thead>
                                                                <tr>
                                                                    <th>Order</th>
                                                                    <th>Date</th>
                                                                    <th>Status</th>
                                                                    <th>Total</th>
                                                                    <th>Actions</th>
                                                                </tr>

                                                            </thead>

                                                            <% orderData.forEach(order=> { %>
                                                                <tbody>
                                                                    <tr>
                                                                        <td># <%= order.orderId %>
                                                                        </td>
                                                                        <td>
                                                                            <%= order.orderDate.toLocaleString() %>
                                                                        </td>
                                                                        <% if (order.status==='Failed' ) { %>
                                                                            <td style="color: red;">
                                                                                <%= order.status %>
                                                                            </td>
                                                                            <% } else { %>
                                                                                <td>
                                                                                    <%= order.status %>
                                                                                </td>
                                                                                <% } %>

                                                                                    <td>
                                                                                        <%= order.billTotal %>
                                                                                    </td>
                                                                                    <td><a href="/orderDetails/<%= order._id %>"
                                                                                            class="btn-small d-block">View</a>
                                                                                    </td>
                                                                    </tr>

                                                                </tbody>
                                                                <% }) %>
                                                        </table>
                                                        <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                                                            <nav aria-label="Page navigation example">
                                                                <ul class="pagination justify-content-start">
                                                                    <% for(let i=1; i <=totalPages; i++) { %>
                                                                        <li
                                                                            class="page-item <%= currentPage === i ? 'active' : '' %>">
                                                                            <a class="page-link"
                                                                                href="/profile?tab=orders&page=<%= i %>">
                                                                                <%= i %>
                                                                            </a>
                                                                        </li>
                                                                        <% } %>
                                                                </ul>
                                                            </nav>
                                                        </div>



                                                    </div>

                                                    <% } else { %>
                                                        <p>NO ORDERS FOUND</p>
                                                        <% } %>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="track-orders" role="tabpanel"
                                        aria-labelledby="track-orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Orders tracking</h5>
                                            </div>
                                            <div class="card-body contact-from-area">
                                                <p>To track your order please enter your OrderID in the box below and
                                                    press "Track" button. This was given to you on your receipt and in
                                                    the confirmation email you should have received.</p>
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <form class="contact-form-style mt-30 mb-50" action="#"
                                                            method="post">
                                                            <div class="input-style mb-20">
                                                                <label>Order ID</label>
                                                                <input name="order-id"
                                                                    placeholder="Found in your order confirmation email"
                                                                    type="text" class="square">
                                                            </div>
                                                            <div class="input-style mb-20">
                                                                <label>Billing email</label>
                                                                <input name="billing-email"
                                                                    placeholder="Email you used during checkout"
                                                                    type="email" class="square">
                                                            </div>
                                                            <button class="submit submit-auto-width"
                                                                type="submit">Track</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="account-detail" role="tabpanel"
                                        aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <% if (userAddress?.Address) { %>
                                                <div class="card-header">
                                                    <h5>Account Details</h5>
                                                </div>
                                                <div class="card-body">

                                                    <form action="/profileNewPassword/<%= userData._id %>" method="post"
                                                        name="enq" onsubmit="return validateForm()">
                                                        <div class="row">
                                                            <div class="form-group col-md-6">
                                                                <label>First Name <span
                                                                        class="required">*</span></label>
                                                                <input class="form-control square"
                                                                    value="<%= userData.username %>" name="name"
                                                                    type="text" id="firstName">
                                                                <span id="firstNameError" class="error-message"
                                                                    style="color: red;"></span>
                                                            </div>

                                                            <div class="form-group col-md-12">
                                                                <label>Email Address <span
                                                                        class="required">*</span></label>
                                                                <input class="form-control square"
                                                                    value="<%= userData.Email %>" name="email"
                                                                    id="email">
                                                                <span id="emailError" class="error-message"
                                                                    style="color: red;"></span>
                                                            </div>

                                                            <div class="form-group col-md-12">
                                                                <label>Phone number<span
                                                                        class="required">*</span></label>
                                                                <input class="form-control square"
                                                                    value="<%= userData.phoneNumber %>"
                                                                    name="phoneNumber" Type="phoneNumber"
                                                                    id="phoneNumber">
                                                                <span id="phoneNumberError" class="error-message"
                                                                    style="color: red;"></span>
                                                            </div>

                                                            <div class="form-group col-md-12">
                                                                <label>Current Password <span
                                                                        class="currentPassword">*</span></label>
                                                                <input name="password" id="currentPassword">
                                                                <span id="currentPasswordError" class="error-message"
                                                                    style="color: red;"></span>
                                                                <span style="color: red;">
                                                                    <%= message %>
                                                                </span>
                                                            </div>

                                                            <div class="form-group col-md-12">
                                                                <label>New Password <span
                                                                        class="npassword">*</span></label>
                                                                <input name="npassword" id="newPassword">
                                                                <span id="newPasswordError" class="error-message"
                                                                    style="color: red;"></span>
                                                            </div>

                                                            <div class="form-group col-md-12">
                                                                <label>Confirm Password <span
                                                                        class="cpassword">*</span></label>
                                                                <input name="cpassword" id="confirmPassword">
                                                                <span id="confirmPasswordError" class="error-message"
                                                                    style="color: red;"></span>
                                                            </div>

                                                            <div class="col-md-12">
                                                                <button style="margin-left: 75%;" type="submit"
                                                                    class="btn btn-fill-out submit" name="submit"
                                                                    value="Submit">Save</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <% } else { %>

                                                    <h2>No User Address</h2>

                                                    <% } %>
                                                        <!-- <div class="card mb-3 mb-lg-0" style="margin-top: 20px;">
                                                            <a href="/addAddress"><button type="submit"
                                                                    class="btn btn-sm btn-outline-secondary float-right"
                                                                    style="width: 100%;">Add
                                                                    Address</button></a>
                                                        </div> -->

                                        </div>
                                    </div>

                                    <!--wallet  -->
                                    <div class="tab-pane fade" id="wallet-content" role="tabpanel" aria-labelledby="wallet-tab">
                                        <main class="main">
                                            <section class="section-padding footer-mid container">
                                                <div>
                                                    <h2 class="my-4">My Wallet</h2>
                                                </div>
                                                <div class="btn btn-success-light p-4 d-flex justify-content-start" style="width: 100%">
                                                    <div>
                                                        <% if (locals.wallet && locals.wallet.length > 0) { %>
                                                        <span class="h2">balance :</span>
                                                        <% wallet.forEach(element => { %>
                                                        <span   id="wallet" class="h3">₹ <%= element.totalWallet %></span>
                                                        <% }) %>
                                                        <% } else { %>
                                                        <!-- Handle case when wallet is empty -->
                                                        <span class="h1">₹ 0.00</span>
                                                        <span class="h2">balance</span>
                                                        <% } %>
                                                    </div>
                                                </div>

                                                 <!-- Add Wallet Form -->
                                                 <div style="margin-left: 30%;" >
                                                    <h4 style="color: darkgray;  font-weight: 700;" class="my-4">Add Wallet</h4>
                                                    <form>
                                                        <div style="width: 30%;" class="mb-3">
                                                            <label for="amount" class="form-label">Amount to Add</label>
                                                            <input type="number" class="form-control" id="amount" name="amount" required>
                                                        </div>
                                                        <button type="button" id="addWalletBtn" class="btn btn-primary">Add to Wallet</button>
                                                    </form>
                                                </div>
                                                <div>
                                                    <h4 class="my-4">Transaction History</h4>
                                                </div>
                                                <div>
                                                    <table class="table">
                                                        <thead class="table-success">
                                                            <tr>
                                                                <th scope="col">Transaction ID</th>
                                                                <th scope="col">Date and Time </th>
                                                                <th scope="col">Amount</th>
                                                                <th scope="col">Transaction Type</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% if (locals.transaction && locals.transaction.length > 0) { %>
                                                            <% locals.transaction.forEach(wallet => { %>
                                                            <tr>
                                                                <th scope="row">#<%= wallet.transationId %></th>
                                                                <td><%= wallet.createdAt.toLocaleString() %></td>
                                                                <!-- dbit or credit -->
                                                                <% if (wallet.transactionType === "Credit") { %>
                                                                <td style="color: green;"><%= wallet.amount %></td>
                                                                <% } else { %>
                                                                <td style="color:red"><strong>-</strong><%= wallet.amount %></td>
                                                                <% } %>
                                                                <% if (wallet.transactionType === "Credit") { %>
                                                                <td style="color: green;"><%= wallet.transactionType %></td>
                                                                <% } else { %>
                                                                <td style="color: brown;"><%= wallet.transactionType %></td>
                                                                <% } %>
                                                            </tr>
                                                            <% }) %>
                                                            <% } else { %>
                                                            <tr>
                                                                <td colspan="4">No transactions found</td>
                                                            </tr>
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                               
                                            </section>
                                        </main>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">

        </section>
        <section class="section-padding footer-mid " style="margin-right: 50px;">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html">
                                    <h3>ShoeStrut</h3>
                                </a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong> MG Road, Street 32, Ernakulam
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>(+91) 8086136588
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>24 x 7
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">

                                <a href="https://x.com/manikandanvfc11?t=hBoj9BGy8wVjC3sjPcsOSw&s=09"><img
                                        src="/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="https://www.instagram.com/m_a_k_i_n_?igsh=cTFxcGx3dDhydnlo"><img
                                        src="/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="https://youtube.com/@FitlifeFusion5890?si=DYKz5LtTBiplO4ZF"><img
                                        src="/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="/signup">Sign In</a></li>
                            <li><a href="/product/cart">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="/profile?tab=orders">Order</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>

    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="./assets/js/main.js?v=3.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</body>

</html>
<!-- load each tab -->


  <!-- add wallet -->
<script>


document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('addWalletBtn').addEventListener('click', addWallet);
});

function addWallet() {
    const addAmount = document.getElementById('amount').value;
    alert(addAmount);
    
    fetch('/addWallet', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ amount: addAmount })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        console.log(data);
        if(data.message === 'success') {
            Swal.fire({
                title: 'Wallet Added',
                icon: 'success',
                confirmButtonText: 'OK',
            });
           alert(data.amount)
           document.getElementById('wallet').innerText = '₹ ' + data.amount;
            document.getElementById('amount').value = ''

        }
    })
    .catch(error => {
        console.error('Error:', error);
        // Handle errors here
    });
}

</script>




<script>
    $(document).ready(function () {
        $('.nav a[href="#<%if(locals.openTab) { %><%= openTab %><% } else { %>profile<% } %>"]').tab('show');
    });

    function validateForm() {
        var firstNameInput = document.getElementById("firstName");
        var firstNameError = document.getElementById("firstNameError");
        var emailInput = document.getElementById("email");
        var emailError = document.getElementById("emailError");
        var phoneNumberInput = document.getElementById("phoneNumber");
        var phoneNumberError = document.getElementById("phoneNumberError");
        var currentPasswordInput = document.getElementById("currentPassword");
        var currentPasswordError = document.getElementById("currentPasswordError");
        var newPasswordInput = document.getElementById("newPassword");
        var newPasswordError = document.getElementById("newPasswordError");
        var confirmPasswordInput = document.getElementById("confirmPassword");
        var confirmPasswordError = document.getElementById("confirmPasswordError");

        var isValid = true;

        // Validate First Name
        var firstNameRegex = /^[A-Za-z]+$/;
        if (!firstNameRegex.test(firstNameInput.value)) {
            firstNameError.textContent = "Please enter a valid first name (only letters)";
            isValid = false;

        } else if (firstNameInput.value.length < 3) {
            firstNameError.textContent = "Name must be 3 letters"
            isValid = false
        }
        else {
            firstNameError.textContent = ""; // Clear error message if valid
        }

        // Validate Email
        const email = emailInput.value;
        const emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}/;
        if (!email || !email.match(emailRegex)) {
            emailError.textContent = 'Invalid email format';
            isValid = false;
        } else {
            emailError.textContent = ''; // Clear error message if valid
        }

        // Validate Phone Number
        var phoneNumberRegex = /^[0-9]{10}$/;
        if (!phoneNumberRegex.test(phoneNumberInput.value)) {
            phoneNumberError.textContent = "Please enter a valid 10-digit phone number";
            isValid = false;
        } else {
            phoneNumberError.textContent = ""; // Clear error message if valid
        }


        //current Password Validation
        if (newPasswordInput.value && !currentPasswordInput.value) {
            if (!currentPasswordInput.value) {
                currentPasswordError.textContent = "Current Password is required"
                isValid = false

            } else {
                currentPasswordError.textContent = ''
            }
        }

        // Validate New Password
        var passwordRegex = /^(?=.*[a-zA-Z])(?=.*\d)[A-Za-z\d@$!%*?&]{6,}$/;

        if (newPasswordInput.value) {
            if (!passwordRegex.test(newPasswordInput.value)) {
                newPasswordError.textContent = "Password must be at least 6 characters long and contain at least one letter and one digit";
                isValid = false;
            } else {
                newPasswordError.textContent = ""; // Clear error message if valid
            }
        }

        // Validate Confirm Password
        if (newPasswordInput.value !== confirmPasswordInput.value) {
            confirmPasswordError.textContent = "Passwords do not match";
            isValid = false;

            // Clear error message if valid
        } else {
            confirmPasswordError.textContent = "";

        }

        return isValid; // Allow form submission if all fields are valid
    }
</script>