<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoeStrut</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom CSS -->
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        .page-title {
            font-size: 24px;
            font-weight: bold;
            color: #333;
            margin-bottom: 20px;
        }

        .card {
            border: 1px solid #dee2e6;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        .card-header {
            background-color: #f8f9fa;
            border-bottom: 1px solid #dee2e6;
            font-weight: bold;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

        .text-success {
            color: #28a745;
        }

        /* Center the title */
        .title-header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            /* Adjust as needed */
        }
    </style>
</head>

<body>

    <header class="title-header">
        <a class="mb-0" style="margin-right: 80%; display: inline-block; color: #333;" href="/home">
            <h3><strong>ShoeStrut</strong></h3>
        </a>
    </header>
    <hr style="margin-top: 1px; margin-bottom: 10px; width: 20%; margin-right: 80%;">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="page-title">Your payment has been successfully processed.</div>
                        <div class="text-center mt-6">
                            <i class="fas fa-check-circle fa-5x text-success"></i>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="40%">Product</th>
                                    <th width="20%">Unit Price</th>
                                    <th width="20%">Quantity</th>
                                    <th width="20%">Discount</th>
                                    <th width="20%" class="text-end">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% items.items.forEach(item=> { %>
                                    <tr>
                                        <td>

                                            <div class="left">
                                                <img src="<%= item.image %>" width="40" height="40" class="img-xs"
                                                    alt="Item">
                                            </div>
                                            <div class="info">
                                                <%= item.productId.title %>
                                            </div>

                                        </td>
                                        <td>
                                           Rs. <%= item.price %>
                                        </td>
                                        <td>
                                            <%= item.quantity %>
                                        </td>
                                        <td style="color: #28a745;"> <strong>
                                                <%= items.discount? '%' +items.discount : '%' +0 %>
                                            </strong> </td>
                                            <% if (items.netAmount > 0) { %>
                                                <td class="text-end">
                                                    <strong>
                                                       Rs.<%= items.netAmount %> %>
                                                    </strong>
                                                </td>
                                                <% } else { %>
                                                    <td class="text-end">
                                                        <strong>
                                                           Rs.<%= items.billTotal %> %>
                                                        </strong>
                                                    </td>
                                            <% } %>
                                       
                                    </tr>
                                    <% }) %>
                            </tbody>

                        </table>
                    </div>
                    <div class="card-header">
                        Delivery Address
                    </div>
                    <div class="card-body">
                        <p class="text-center">
                            <%= deliveryAddress.name %> <br>
                                <%= deliveryAddress.address %> , <%= deliveryAddress.pincode %> <br>
                                        <%= deliveryAddress.phone %> <br>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                <div class="text-center mt-3">
                                    <a href="/profile?tab=orders" class="btn btn-danger">Go to Order Details</a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="text-center mt-3">
                                    <a href="/product/shop" class="btn btn-primary">Continue Shopping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- table-responsive -->
    </div>








    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>